n8n-workflows/events-scraper.json
{
  "id": "events-scraper-v1",
  "active": true,
  "name": "Google Events Scraper",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "events-scraper",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "events-scraper"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-n8n-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verify-secret",
      "name": "Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst query = (body.query || '').toString().trim();\nconst location = (body.location || '').toString().trim();\nif (!query) throw new Error('query is required');\nif (query.length > 200) throw new Error('query too long');\nif (location.length > 200) throw new Error('location too long');\nreturn [{ json: { query, location } }];"
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SCRAPER_SERVICE_URL }}/scrape",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {{ JSON.stringify($json.query) }},\n  \"location\": {{ JSON.stringify($json.location) }}\n}",
        "options": {
          "timeout": 90000
        }
      },
      "id": "playwright-scraper",
      "name": "Playwright Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 240]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json || {};\nconst query = $('Validate Input').first().json.query;\nconst location = $('Validate Input').first().json.location;\n\nif (raw.source === 'error') {\n  return [{ json: { fromCache: true, events: [], query, location, scrapeStatus: raw.status || 'ERROR', success: true, count: 0 } }];\n}\nif (raw.source === 'cache') {\n  const events = Array.isArray(raw.events) ? raw.events : [];\n  return [{ json: { fromCache: true, events, query, location, success: true, count: events.length } }];\n}\nreturn [{ json: { fromCache: false, html: raw.html || '', query, location } }];"
      },
      "id": "parse-scraper-output",
      "name": "Parse Scraper Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 240]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "from-cache-check",
              "leftValue": "={{ $json.fromCache }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cache-hit",
      "name": "Cache Hit?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1300, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.AZURE_OPENAI_ENDPOINT || '').replace(/\\/$/, '') }}/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AZURE_OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.AZURE_OPENAI_DEPLOYMENT || 'Llama-3.3-70B-Instruct' }}\",\n  \"temperature\": 0,\n  \"max_tokens\": 1500,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a data-extraction specialist. From the provided Google Search HTML, extract every event you can find. Output ONLY a valid JSON object of shape {\\\"events\\\":[{...}]}. Each event MUST contain: title (string), date (string, human-readable e.g. 'Sat, Jun 7'), time (string or null), venue (string or null), address (string or null), url (string or null), source (string e.g. 'BookMyShow' or null), price (string or null), imageUrl (string or null, the event's image/thumbnail URL). Use null for missing fields. Do NOT include markdown, code fences, or any text outside the JSON object.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('Query: ' + $json.query + '\\n\\nHTML:\\n' + ($json.html || '').slice(0, 18000)) }} }\n  ]\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "groq-parser",
      "name": "Groq: Parse Events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 340],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const upstream = $input.first().json || {};\nconst query = $('Validate Input').first().json.query;\nconst location = $('Validate Input').first().json.location;\nconst emptyResp = { success: true, count: 0, fromCache: false, events: [], query, location };\n\nconst content = upstream.choices?.[0]?.message?.content || '';\nif (!content) return [{ json: emptyResp }];\n\nlet parsed;\ntry { parsed = JSON.parse(content); } catch (e) { return [{ json: emptyResp }]; }\n\nlet events = [];\nif (Array.isArray(parsed)) events = parsed;\nelse if (Array.isArray(parsed?.events)) events = parsed.events;\n\nconst clean = events.filter(e => e && typeof e === 'object' && typeof e.title === 'string' && e.title.trim().length > 1);\nconst limited = clean.slice(0, 20).map(e => ({\n  title: String(e.title).trim(),\n  date: e.date != null ? String(e.date) : null,\n  time: e.time != null ? String(e.time) : null,\n  venue: e.venue != null ? String(e.venue) : null,\n  address: e.address != null ? String(e.address) : null,\n  url: e.url != null ? String(e.url) : null,\n  source: e.source != null ? String(e.source) : null,\n  price: e.price != null ? String(e.price) : null,\n  imageUrl: e.imageUrl != null ? String(e.imageUrl) : null,\n}));\n\nreturn [{ json: { success: true, count: limited.length, fromCache: false, events: limited, query, location } }];"
      },
      "id": "validate-events",
      "name": "Validate + Clean Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1740, 340]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1960, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={ \"success\": false, \"error\": \"unauthorized\" }"
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [640, 440]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Verify Secret", "type": "main", "index": 0 }]]
    },
    "Verify Secret": {
      "main": [
        [{ "node": "Validate Input", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Validate Input": {
      "main": [[{ "node": "Playwright Scraper", "type": "main", "index": 0 }]]
    },
    "Playwright Scraper": {
      "main": [[{ "node": "Parse Scraper Output", "type": "main", "index": 0 }]]
    },
    "Parse Scraper Output": {
      "main": [[{ "node": "Cache Hit?", "type": "main", "index": 0 }]]
    },
    "Cache Hit?": {
      "main": [
        [{ "node": "Webhook Response", "type": "main", "index": 0 }],
        [{ "node": "Groq: Parse Events", "type": "main", "index": 0 }]
      ]
    },
    "Groq: Parse Events": {
      "main": [[{ "node": "Validate + Clean Events", "type": "main", "index": 0 }]]
    },
    "Validate + Clean Events": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  }
}
