n8n-workflows/meetup-spots.json
{
  "id": "meetup-spots-v1",
  "active": true,
  "name": "Meet-up Spots",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meetup-spots",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "meetup-spots"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-n8n-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verify-secret",
      "name": "Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.APP_BASE_URL }}/ai/meetup/spots/context",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.jwt }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-context",
      "name": "Fetch Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.AZURE_OPENAI_ENDPOINT || '').replace(/\\/$/, '') }}/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AZURE_OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.AZURE_OPENAI_DEPLOYMENT || 'Llama-3.3-70B-Instruct' }}\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 256,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a search query formatter. Output ONLY a valid JSON object, no markdown or explanation.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('User intent: ' + ($('Webhook').item.json.body.type || 'any') + '\\nContext: ' + JSON.stringify($json.context) + '\\n\\nReturn JSON: {\"query\":\"search_string\",\"radius\":number_in_meters}\\n\\nRules:\\n- Build a search query string describing the type of place the user wants\\n- coffee intent => query=\"cafe bakery\"\\n- food => query=\"restaurant cafe\"\\n- outdoor => query=\"park outdoor\"\\n- bar => query=\"bar pub\"\\n- shopping => query=\"shopping mall\"\\n- fitness => query=\"gym fitness\"\\n- any => pick based on interests, bio, timeOfDay\\n- radius: 1500 (urban default)\\n- morning/afternoon: favor cafe, park, restaurant\\n- evening/night: favor bar, restaurant, pub') }} }\n  ]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "azure-format-params",
      "name": "Azure: Format Search Params",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices?.[0]?.message?.content || '';\nlet json;\ntry {\n  json = JSON.parse(content);\n} catch (e) {\n  json = { query: 'cafe restaurant', radius: 1500 };\n}\nif (!json.query) json.query = 'cafe restaurant';\nif (!json.radius) json.radius = 1500;\nreturn [{ json: { searchParams: json, context: $('Fetch Context').item.json.context } }];"
      },
      "id": "parse-search-params",
      "name": "Parse Search Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 240]
    },
    {
      "parameters": {
        "url": "https://places-api.foursquare.com/places/search",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.FOURSQUARE_API_KEY }}"
            },
            {
              "name": "X-Places-Api-Version",
              "value": "2025-06-17"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.searchParams.query }}"
            },
            {
              "name": "ll",
              "value": "={{ $json.context.lat }},{{ $json.context.lng }}"
            },
            {
              "name": "radius",
              "value": "={{ $json.searchParams.radius }}"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "fields",
              "value": "fsq_place_id,name,location,geocodes,categories,rating,website"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "foursquare-search",
      "name": "Foursquare Places Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 240],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const fsqResponse = $input.first().json;\nconst results = Array.isArray(fsqResponse.results) ? fsqResponse.results : [];\nconst context = $('Parse Search Params').item.json.context;\n\nif (results.length === 0) {\n  return [{ json: { context, places: [], zeroResults: true } }];\n}\n\nconst places = results.slice(0, 20).map(r => {\n  const loc = r.location || {};\n  const geocodes = r.geocodes || {};\n  const main = geocodes.main || {};\n  const address = loc.formatted_address || [loc.address, loc.locality, loc.region].filter(Boolean).join(', ');\n  return {\n    place_id: r.fsq_place_id || '',\n    name: r.name || 'Unnamed',\n    address: address,\n    description: '',\n    types: (r.categories || []).map(c => c.name).filter(Boolean),\n    distance_meters: 0,\n    lat: main.latitude || null,\n    lng: main.longitude || null,\n  };\n});\n\nreturn [{ json: { context, places, zeroResults: false } }];"
      },
      "id": "normalize-places",
      "name": "Normalize Places",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.AZURE_OPENAI_ENDPOINT || '').replace(/\\/$/, '') }}/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AZURE_OPENAI_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.AZURE_OPENAI_DEPLOYMENT || 'Llama-3.3-70B-Instruct' }}\",\n  \"temperature\": 0.5,\n  \"max_tokens\": 1024,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a meet-up spot recommender. Output ONLY a valid JSON object. No markdown, no explanation.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('User profile: ' + JSON.stringify($json.context) + '\\nNearby places: ' + JSON.stringify($json.places) + '\\n\\nPick the top 5 spots best suited for a casual meet-up given this user\\'s interests, bio, and time-of-day. For each, write a 1-2 sentence reason tailored to the user.\\n\\nReturn JSON shape exactly: {\"recommendations\": [{\"placeId\":\"...\",\"reason\":\"...\"}]}\\nSort best match first. Use the place_id field as placeId.') }} }\n  ]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "azure-recommend",
      "name": "Azure: Recommend Spots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 240]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices?.[0]?.message?.content || '';\nconst normalized = $('Normalize Places').item.json;\nconst places = normalized.places;\nconst placesById = new Map(places.map(p => [p.place_id, p]));\n\nlet ranked = [];\ntry {\n  const parsed = JSON.parse(content);\n  if (Array.isArray(parsed?.recommendations)) ranked = parsed.recommendations;\n  else if (Array.isArray(parsed)) ranked = parsed;\n} catch (e) {\n  ranked = [];\n}\n\nfunction buildMapsUrl(p) {\n  if (p.lat != null && p.lng != null) {\n    return `https://www.google.com/maps/search/?api=1&query=${p.lat},${p.lng}`;\n  }\n  return `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(p.name + ' ' + p.address)}`;\n}\n\nconst spots = [];\nfor (const r of ranked) {\n  const p = placesById.get(r.placeId);\n  if (!p) continue;\n  spots.push({\n    name: p.name,\n    address: p.address,\n    distanceMeters: p.distance_meters,\n    mapsUrl: buildMapsUrl(p),\n    reason: r.reason,\n  });\n  if (spots.length >= 5) break;\n}\n\nif (spots.length === 0 && places.length > 0) {\n  for (const p of places.slice(0, 5)) {\n    spots.push({\n      name: p.name,\n      address: p.address,\n      distanceMeters: p.distance_meters,\n      mapsUrl: buildMapsUrl(p),\n      reason: `A nearby spot worth checking out.`,\n    });\n  }\n}\n\nreturn [{ json: { success: true, spots } }];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={ \"success\": false, \"error\": \"unauthorized\" }"
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Verify Secret", "type": "main", "index": 0 }]]
    },
    "Verify Secret": {
      "main": [
        [{ "node": "Fetch Context", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Context": {
      "main": [[{ "node": "Azure: Format Search Params", "type": "main", "index": 0 }]]
    },
    "Azure: Format Search Params": {
      "main": [[{ "node": "Parse Search Params", "type": "main", "index": 0 }]]
    },
    "Parse Search Params": {
      "main": [[{ "node": "Foursquare Places Search", "type": "main", "index": 0 }]]
    },
    "Foursquare Places Search": {
      "main": [[{ "node": "Normalize Places", "type": "main", "index": 0 }]]
    },
    "Normalize Places": {
      "main": [[{ "node": "Azure: Recommend Spots", "type": "main", "index": 0 }]]
    },
    "Azure: Recommend Spots": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Build Response": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
