n8n-workflows/meetup-spots.json
{
  "name": "Meet-up Spots",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meetup-spots",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "meetup-spots"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-n8n-secret'] }}",
              "rightValue": "={{ $env.N8N_WEBHOOK_SECRET }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verify-secret",
      "name": "Verify Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.APP_BASE_URL }}/ai/meetup/spots/context",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Webhook').item.json.body.jwt }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "fetch-context",
      "name": "Fetch Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.3,\n  \"max_tokens\": 256,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a search query formatter. Output ONLY a valid JSON object, no markdown or explanation.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('User intent: ' + ($('Webhook').item.json.body.type || 'any') + '\\nContext: ' + JSON.stringify($json.context) + '\\n\\nReturn JSON: {\"types\":\"comma_separated_ola_types\",\"radius\":number_in_meters,\"language\":\"en\"}\\n\\nRules:\\n- Pick 1-3 Ola Maps place types from: cafe, restaurant, bar, park, gym, museum, art_gallery, shopping_mall, bookstore, tourist_attraction, night_club, bakery\\n- coffee intent => types=cafe,bakery\\n- food => types=restaurant,cafe\\n- outdoor => types=park,tourist_attraction\\n- bar => types=bar,night_club\\n- shopping => types=shopping_mall\\n- fitness => types=gym,park\\n- any => pick based on interests, bio, timeOfDay\\n- radius: 1500 (urban default)\\n- morning/afternoon: favor cafe, park, restaurant\\n- evening/night: favor bar, restaurant, night_club') }} }\n  ]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "groq-format-params",
      "name": "Groq: Format Search Params",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 240]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices?.[0]?.message?.content || '';\nlet json;\ntry {\n  json = JSON.parse(content);\n} catch (e) {\n  // Fallback defaults if Groq returned invalid JSON\n  json = { types: 'cafe,restaurant', radius: 1500, language: 'en' };\n}\n// Coerce types to a string\nif (Array.isArray(json.types)) json.types = json.types.join(',');\nif (!json.types) json.types = 'cafe,restaurant';\nif (!json.radius) json.radius = 1500;\nif (!json.language) json.language = 'en';\nreturn [{ json: { searchParams: json, context: $('Fetch Context').item.json.context } }];"
      },
      "id": "parse-search-params",
      "name": "Parse Search Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 240]
    },
    {
      "parameters": {
        "url": "https://api.olamaps.io/places/v1/nearbysearch",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "={{ $json.context.lat }},{{ $json.context.lng }}"
            },
            {
              "name": "types",
              "value": "={{ $json.searchParams.types }}"
            },
            {
              "name": "radius",
              "value": "={{ $json.searchParams.radius }}"
            },
            {
              "name": "rankBy",
              "value": "popular"
            },
            {
              "name": "limit",
              "value": "20"
            },
            {
              "name": "withCentroid",
              "value": "true"
            },
            {
              "name": "language",
              "value": "={{ $json.searchParams.language || 'en' }}"
            },
            {
              "name": "api_key",
              "value": "={{ $env.OLA_MAPS_API_KEY }}"
            }
          ]
        },
        "options": {
          "timeout": 5000
        }
      },
      "id": "ola-search",
      "name": "Ola Maps Nearby Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 240]
    },
    {
      "parameters": {
        "jsCode": "const olaResponse = $input.first().json;\nconst status = olaResponse.status;\nconst predictions = Array.isArray(olaResponse.predictions) ? olaResponse.predictions : [];\nconst context = $('Parse Search Params').item.json.context;\n\nif (status === 'zero_results' || predictions.length === 0) {\n  return [{ json: { context, places: [], zeroResults: true } }];\n}\n\nconst places = predictions.slice(0, 20).map(p => ({\n  place_id: p.place_id,\n  name: p.structured_formatting?.main_text || p.description || 'Unnamed',\n  address: p.structured_formatting?.secondary_text || p.description || '',\n  description: p.description || '',\n  types: p.types || [],\n  distance_meters: p.distance_meters || 0,\n  lat: p.geometry?.location?.lat || p.geometry?.location?.latitude || null,\n  lng: p.geometry?.location?.lng || p.geometry?.location?.longitude || null,\n}));\n\nreturn [{ json: { context, places, zeroResults: false } }];"
      },
      "id": "normalize-places",
      "name": "Normalize Places",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 240]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.5,\n  \"max_tokens\": 1024,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"You are a meet-up spot recommender. Output ONLY a valid JSON object. No markdown, no explanation.\" },\n    { \"role\": \"user\", \"content\": {{ JSON.stringify('User profile: ' + JSON.stringify($json.context) + '\\nNearby places: ' + JSON.stringify($json.places) + '\\n\\nPick the top 5 spots best suited for a casual meet-up given this user\\'s interests, bio, and time-of-day. For each, write a 1-2 sentence reason tailored to the user.\\n\\nReturn JSON shape exactly: {\"recommendations\": [{\"placeId\":\"...\",\"reason\":\"...\"}]}\\nSort best match first. Use the place_id field as placeId.') }} }\n  ]\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "groq-recommend",
      "name": "Groq: Recommend Spots",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 240]
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices?.[0]?.message?.content || '';\nconst normalized = $('Normalize Places').item.json;\nconst places = normalized.places;\nconst placesById = new Map(places.map(p => [p.place_id, p]));\n\nlet ranked = [];\ntry {\n  const parsed = JSON.parse(content);\n  if (Array.isArray(parsed?.recommendations)) ranked = parsed.recommendations;\n  else if (Array.isArray(parsed)) ranked = parsed;\n} catch (e) {\n  ranked = [];\n}\n\nfunction buildMapsUrl(p) {\n  if (p.lat != null && p.lng != null) {\n    return `https://www.google.com/maps/search/?api=1&query=${p.lat},${p.lng}`;\n  }\n  return `https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(p.name + ' ' + p.address)}`;\n}\n\nconst spots = [];\nfor (const r of ranked) {\n  const p = placesById.get(r.placeId);\n  if (!p) continue;\n  spots.push({\n    name: p.name,\n    address: p.address,\n    distanceMeters: p.distance_meters,\n    mapsUrl: buildMapsUrl(p),\n    reason: r.reason,\n  });\n  if (spots.length >= 5) break;\n}\n\n// Fallback: if Groq returned nothing usable, top 5 places with generic reasons\nif (spots.length === 0 && places.length > 0) {\n  for (const p of places.slice(0, 5)) {\n    spots.push({\n      name: p.name,\n      address: p.address,\n      distanceMeters: p.distance_meters,\n      mapsUrl: buildMapsUrl(p),\n      reason: `A nearby spot worth checking out (${p.distance_meters}m away).`,\n    });\n  }\n}\n\nreturn [{ json: { success: true, spots } }];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 401,
        "responseBody": "={ \"success\": false, \"error\": \"unauthorized\" }"
      },
      "id": "respond-unauthorized",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Verify Secret", "type": "main", "index": 0 }]]
    },
    "Verify Secret": {
      "main": [
        [{ "node": "Fetch Context", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Context": {
      "main": [[{ "node": "Groq: Format Search Params", "type": "main", "index": 0 }]]
    },
    "Groq: Format Search Params": {
      "main": [[{ "node": "Parse Search Params", "type": "main", "index": 0 }]]
    },
    "Parse Search Params": {
      "main": [[{ "node": "Ola Maps Nearby Search", "type": "main", "index": 0 }]]
    },
    "Ola Maps Nearby Search": {
      "main": [[{ "node": "Normalize Places", "type": "main", "index": 0 }]]
    },
    "Normalize Places": {
      "main": [[{ "node": "Groq: Recommend Spots", "type": "main", "index": 0 }]]
    },
    "Groq: Recommend Spots": {
      "main": [[{ "node": "Build Response", "type": "main", "index": 0 }]]
    },
    "Build Response": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
